
  <div class="index">
    <div class="banner">
        <div class="bouton">
          <%= link_to "How do you want to forget?", new_cocktail_path, class: 'btn-yours mt-50' %>
        </div>
    </div>
    <div class="container">
       <div class="card-flex d-flex flex-row justify-content-around align-items-start">
            <% @cocktails.each do |cocktail|%>
          <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/seed/picsum/250/250" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"> <%= link_to cocktail.name, cocktail_path(cocktail)%></p>
            </div>
          </div>
          <% end %>
      </div>
    </div>
</div>
