
  <div class="row">
    <div class="banner_new col-12">


        <h1>Say a word and The barman will invent a name for your cocktail</h1>
        <%= form_for (@cocktail) do |f| %>
          <div class="form-style col-12">
             <div class="field">
                <%= f.text_field :name, placeholder: "Your word", class: 'field-space' %>
            </div>
            <% f.label :photo, as: :file  %>
     <!--        <div class="actions">
                <% f.submit "Go Bro!", class: 'actions-btn .rounded-cirlce'%>
            </div> -->
          </div>
        <% end %>

    </div>
  </div>



