


  <div class="row">
    <div class="banner_new col-12">
        <h1>Let the barman create a name for your cocktail</h1>
        <%= form_for (@cocktail) do |f| %>
          <div class="form-style col-12">
             <div class="field">
                <%= f.text_field :name, placeholder: "Your lucky word", class: 'field-space' %>
            </div>
        <% end %>

    </div>
  </div>


