// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('patrick-tomasso-ZbZ5KP7D9z8-unsplash.jpg');
  background-position: center;
  padding: 400px 0;
  height: 900px;
  text-align: center;
}

.bouton {
margin-top: 100px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-yours {
  margin-top: 300px;
  text-decoration: none;
   background-color: transparent;
  color: #98811d;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  padding: 5px 20px;
  transition: all 0.4s ease;
  border: 1px solid white;


}

.btn-yours:hover {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid white;
  transition: all 0.4s ease;
}
