// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-flex {
height: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 250px;
  text-align: center;
  border: solid black 2px;

}

.card-text{
font-family: 'Raleway', sans-serif;
text-decoration: none;
color: #1b1f25d4;
text-align:center;
}

a {
  color: #646c75;
    text-decoration: none;
    background-color: transparent;
}

.index {
  background: black;
}



