.show-style {
  background-color: black;
  text-align: center;
  color:  #98811d;
}

.show-style h1 {
  margin-top: 25px;
  font-family: 'Girassol', cursive;
  padding-top: 30px;
}

.drink {
  margin-bottom: 33px;
}

.ingredient {
  padding-top: 15px;
  font-family: 'Girassol', cursive;

}

.col-12 {
  height: 800px;
}
